@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&display=swap');

.figure {
    margin-top: 60px;
    margin-bottom: 15px;
    background-color: rgba(191, 208, 223, 0.486);    
    text-align: center;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    border-style: solid;
    border-width: 1px;
}

.figure-caption {
    color: black;
    font-size: 45px;
    margin-top: 15px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}